.icon-5
  width 32px
  height 32px
  min-width 32px
  min-height 32px

.icon-4
  width 27px
  height 27px
  min-width 27px
  min-height 27px

.icon-3
  width 23px
  height 23px
  min-width 23px
  min-height 23px

.icon-2
  width 17px
  height 17px

.icon-1
  width 11px
  height 11px

.icon--hover-main
  fill-opacity .3
  stroke-opacity .3
  fill var(--color-active)
  stroke var(--color-active)
  transition all .3s
  cursor pointer
  &:hover
    fill-opacity 1
    stroke-opacity 1

