@import './icon'
@import './chars'
@import './headerMenu'
@import './widget'

.home
  display flex
  justify-content center

.container
  position relative
  width 100vmin
  display flex
  flex-wrap wrap

.fullscreen-block
  width 100vw
  height 100vh