.not-found-block
  width 50vmin
  height 50vmin
  background var(--color-bg-dark)
  border-radius 50%
  paddgin 25px
  display flex
  flex-direction column
  justify-content center
  align-items center
  center()

.not-found-title
  font-size 3rem
  font-weight 100
  text-shadow 0 0 .2em currentColor
  text-transform uppercase
